<div class="height-15"></div>
<mat-form-field>
  <mat-select placeholder="Tipo de documento">
    <mat-option *ngFor="let documento of documentos" [value]="documento.value">
      {{documento.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Fecha de nacimiento</h4>


    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="">
      <mat-datepicker-toggle matSuffix [for]
      ="picker"></mat-datepicker-toggle>          
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h4>Especialistas</h4>

  <mat-form-field>
    <mat-select placeholder="Listado de especialistas">
      <mat-option *ngFor="let especialista of especialistas" [value]
      ="especialistas">
        {{especialista.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Datos de especialistas</h4>

  <table matSort>
    <tr>
      <th mat-sort-header="nombre">Nombre</th>
      <th mat-sort-header="especialidad">Especialidad</th>
      <th mat-sort-header="telefono">Telefono</th>
      <th mat-sort-header="direccion">Direcciòn</th>
      <th mat-sort-header="correo electronico">Correo electronico</th>
    </tr>
    <tr *ngFor="let dato of datos">
      <td>{{ dato.nombre }}</td>
      <td>{{ dato.especialidad }}</td>
      <td>{{ dato.telefono }}</td>
      <td>{{ dato.direccion }}</td>
      <td>{{ dato.correoelectronico }}</td>
    </tr>
  </table>
