<div class="height-15"></div>
<mat-form-field>
  <mat-select placeholder="Tipo de documento">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Fecha de nacimiento</h4>


    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="">
      <mat-datepicker-toggle matSuffix [for]
      ="picker"></mat-datepicker-toggle>          
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
