<h2>LISTA DE MEDICOS ESPECIALISTAS EN</h2>
<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
        
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

      <!-- Specialty Column -->
      <ng-container matColumnDef="specialty">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.specialty}} </mat-cell>
        </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color"> 
          <button mat-icon-button #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>          
        </mat-cell>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Ver Perfil</button>
            <button mat-menu-item routerLink="/agendar-citas">Agendar Cita</button>
          </mat-menu>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->