<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h2><a href="#"><img class="Logorimed" src="../assets/img/RimedLogo2.png"></a></h2>
  <nav>
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contacts</a></li>
  </nav>
</header>
<section class="hero">
  <div class="background-image" style="background-image: url(./assets/img/health.jpg);"></div>
  <h1>Rehabilitacion Integral y Medicina!</h1>
  <h3>Medicina a tu alcance</h3>
  <a href="http://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox/" class="btn">Conoce más aquí</a>
</section>

<router-outlet></router-outlet>
