  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="side" [opened]="true" position="end">
      <mat-nav-list>
        <a mat-list-item href="#" routerLink="/">Home</a>
        <a mat-list-item href="#" routerLink="/especialistas">Especialistas</a>
        <a mat-list-item href="#" routerLink="/agendar-citas">Agendar Cita</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
  
      <button mat-button (click)="sidenav.toggle()">
        MENU
      </button>
      <h2><a href="#"><img class="Logorimed" src="../assets/img/RimedLogo2.png"></a></h2>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>  
 


