  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="over" [opened]="false" position="end">
      <mat-nav-list color="accent">
        <a mat-list-item href="#" routerLink="/"> <i class="fa fa-institution IconMenu"></i>  Home</a>
        <!-- <a mat-list-item href="#" routerLink="/especialistas">Especialistas</a>               -->
      <mat-accordion [multi]="true">
          <mat-expansion-panel *ngFor="let group of groups">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <i class="fa fa-group IconMenu"></i> {{ group.label }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              
              <a mat-list-item [routerLink]="link.path" *ngFor="let link of group.links">
                  <i class="fa fa-leaf IconMenu"></i> {{link.label}}
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
      </mat-accordion>
      <a mat-list-item href="#" routerLink="/agendar-citas"> <i class="fa fa-calendar IconMenu"></i>  Agendar Cita</a>
      <a mat-list-item href="#" routerLink="/agendar-citas"> <i class="fa fa-calendar-check-o IconMenu"></i>  Consultar Cita</a>
    </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- <mat-toolbar color="accent">

          <span class="example-spacer"></span>
          <mat-icon class="example-icon"><button class="btnMenu" mat-button (click)="sidenav.toggle()">MENU</button></mat-icon>
          <h2><a href="#"><img class="Logorimed" src="../assets/img/RimedLogo2.png"></a></h2>
      </mat-toolbar> -->
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <span><a href="/"><img class="Logorimed" src="../assets/img/RimedLogo2.png"></a></span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon"><button class="btnMenu" mat-button (click)="sidenav.toggle()"><i class="fa fa-bars"></i> MENU</button></mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>  
 


