<section class="hero">
  <div class="background-image" style="background-image: url(./assets/img/health.jpg);"></div>
  <h1>Rehabilitacion Integral y Medicina Deportiva!</h1>
  <h3>Medicina a tu alcance</h3>
  <a href="#Section_Our_Work" class="btn">Conoce más aquí</a>
</section>

<section class="our-work" id="Section_Our_Work">
  <h3 class="title">Más de nuestro trabajo</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
  <hr>

  <ul class="grid">
    <li class="small" style="background-image: url(assets/img/health_small.png);"></li>
    <li class="large" style="background-image: url(assets/img/373_small.png);"></li>
    <li class="large" style="background-image: url(assets/img/1245_small.png);"></li>
    <li class="small" style="background-image: url(assets/img/4383_small.png);"></li>
  </ul>
  <a href="https://www.freepik.com/free-photo/physiotherapist-assisting-young-caucasian-woman-with-exercise-with-dumbbell_1492610.htm">Designed by Javi_indy</a>
</section>

<section class="features">
  <h3 class="title">Productos y Servicios</h3>
  <p>Disponemos de especialistas altamente capacitados que pueden tratarlos directamente en sus hogares, evitando el desplazamiento hasta consultorios, ideal para personas que se les dificulta realizar actividades</p>
  <hr>

  <ul class="grid">
    <li>
      <i class="fa fa-signing"></i>
      <h4>Fisioterapia</h4>
      <p>Ofrecemos una alternativa terapéutica no farmacológica que disminuye síntomas de múltiples dolencias, tanto agudas como crónicas.</p>
    </li>
    <li>
      <i class="fa fa-cubes"></i>
      <h4>Fisiatria</h4>
      <p>Nos encargamos de la evaluación, tratamiento y seguimiento de niños y adultos con enfermedades del Sistema Muscular, Esquelético y Neurológico, que produzcan dolor y/o algún grado de limitación funcional, ya sea transitoria o permanente.</p>
    </li>
    <li>
      <i class="fa fa-wheelchair-alt"></i>
      <h4>Terapia Ocupacional</h4>
      <p>Nuestro objetivo es que una persona con limitaciones físicas o psíquicas pueda tener una vida independiente y valore su propio potencial.</p>
    </li>
  </ul>
</section>

<section class="contact">
  <h3 class="title">Cuentanos tus inquietudes</h3>	
  <p>Si estas interesado en alguno de nuestros servicios no dudes en comunicarte con nosotros, digita tu correo electronico para la suscripcion a novedades, promociones e información de interés</p>
  <hr>

  <form>
    <input type="email" placeholder="Email">
    <a href="#" class="btn">Suscribirse Ahora</a>
  </form>
</section>

<footer>
    <p>Unete a nuestras redes!</p>
  <ul>
    <li><a href="https://www.instagram.com/rimed.co/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square"></i></a></li>
  </ul>
  <div>
    <div class="titleMap">
        <p>Aquí nos podras encontrar si estas interesado en trabajar con nosotros</p>
    </div>
    <div class="imgMap">
        <img src="https://www.bing.com/sa/simg/maps_opengraph.png"
        width="200" height="200">
    </div>
  </div>
  
 
</footer>
